<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.moust.cordova.mediaSelector"
    version="1.0.1">

    <name>Video Player</name>
    <description>Native Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,media,player,video</keywords>
    <repo>https://github.com/markhoyt84/cordova-plugin-media-selector.git</repo>
    <issue>https://github.com/markhoyt84/cordova-plugin-media-selector/issues</issue>

    <js-module src="www/mediaselector.js" name="MediaSelector">
        <clobbers target="MediaSelector" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.moust.cordova.mediaselector.MediaSelector"/>
            </feature>
        </config-file>

        <source-file src="src/android/MediaSelector.java" target-dir="src/com/moust/cordova/mediaselector" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
